@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

.app {
  width: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .header {
    padding-top: 20px;
  }

  .header__logo {
    display: flex;
    justify-content: center;
  }
}

.main {
  display: flex;
  padding-top: 20px;

  &__app{
    width: 515px;
  }

  &__ticket-filter {
    padding-bottom: 10px;
  }
}

.ant-card-body {
  padding: 0;
}

.ant-radio-group {
  border-radius: 5px;
}
