.ant-radio-button-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;

  &.ant-radio-button-wrapper {
    &.ticket-filter {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      align-items: center;
      text-align: center;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      &__item {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.ticket-filter {
  display: flex;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
